/*tipografia ------->*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

/*css df */

*{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}
 body{background-color: #EEEEEE;}


 /*secicons------>*/
 
.contenedor .secciones{
    display:flex;
    position:relative;
    width: 65vw;
    height: 75vh;
    left: 20vw;
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 10vh;
    box-shadow: 2px 7px 14px rgba(000, 000, 000, .2);
    
}

.contenedor{
    position: relative;
    top:10vh ;
}
    
.imagen{
    top: 5%; 
    position: absolute;
    width: 40%;
    height: 90%;
    left: 5%;
    border-radius: 5px;
}

.text{
    top: 5%;
    position:absolute;
    display: flex;
    width: 48%;
    height: 90%;
    left: 47%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-size: 1.4rem;
    color: rgba(000, 000, 000, .7);
}

.text h1{
    margin-bottom: 2%;
    color: 	#FFE3BE;
}
/*header-------------------->*/

header{ 
    position: fixed;
    top: 0;
    display: flex;  
    z-index: 1;
    width: 100%;
    min-height:7vh;  
    font-size: 62.5%; 
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 3px 5px rgba(000, 000, 000, .1);
    
}
header a{
    font-size: 2.4em;
    margin-left: 1.2em;
    margin-right: 1.2em;   
    text-decoration: none;
    color: #000000;
   
    
}

.colorh{
    color: #FFD4B2;
}

a:hover{
    color: #FFD4B2;
    transition: 0.1s;
}

.activo{
    color: #FFD4B2;
}

@media (max-width:900px) {
    header{
        flex-direction: column;
    }
    header a{
        font-size: 1.2em;
        margin-left: 0.6em;
        margin-right: 0.6em;  
    }
    .home{
        margin-top: 2%;
    }
    nav{
        margin-bottom: 2%;
    }
    .contenedor .secciones{
        height: 20vh;
    }
    .text{
        font-size: .9vh;
    }
    
}

