/*tipografia ------->*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}


div{

    display:flex;
    position:relative;
    top: 15vh;
    width: 80%;
    height: 80vh;
    left: 10%;
    background-color: #000000;
    justify-content: space-between;

}

.img{
    top: 5%;
    background-color: aqua;
    position: absolute;
    width: 40%;
    height: 90%;
    left: 5%;
}

.text{
    top: 5%;
    background-color: aqua;
    position: absolute;
    width: 48%;
    height: 90%;
    left: 47%;
}


/*header-------------------->*/

header{
    position: fixed;
    display: flex;  
    width: 100%;
    min-height:7vh;  
    font-size: 62.5%; 
    background-color: #FFFBF5;
    justify-content: space-between;
    align-items: center;
}
a{
    font-size: 2.4em;
    margin-left: 1.2em;
    margin-right: 1.2em;   
    text-decoration: none;
    color: #000000;
}

a:hover{
    color: #F7EFE5;
    transition: 0.1s;
}

@media (max-width:800px) {
    header{
        flex-direction: column;
    }
    a{
        font-size: 1.6em;
        margin-left: 0.8em;
        margin-right: 0.8em;   
    }
    
}

