/*tipografia ------->*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

img{

   width: 50%;
   margin-left: 25%;  
   margin-top: 10%;
}

p{
    text-align: justify;
    width: 80%;
    margin: auto;
    font-size: 2rem;
}

/*header-------------------->*/

header{
    position: fixed;
    display: flex;  
    width: 100%;
    min-height:7vh;  
    font-size: 62.5%; 
    background-color: aquamarine;
    justify-content: space-between;
    align-items: center;
}
a{
    font-size: 2.4em;
    margin-left: 1.2em;
    margin-right: 1.2em;   
    text-decoration: none;
}

@media (max-width:800px) {
    header{
        flex-direction: column;
    }
    a{
        font-size: 1.6em;
        margin-left: 0.8em;
        margin-right: 0.8em;   
    }
    
}

